body, html {
    width: 100%;
    height: 100%;
    background-image: url(backgroundstars.jpg)
}
.main {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.col {
    font-size: 1.5rem;
    color: black;
    background-color: rgb(219, 215, 215);
    border: 2px solid black;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}
.row {
    margin: 15px;
    justify-content: center;
}
hr {
    border: 1px solid grey;
}
.tutorial {
    font-size: 1.5rem;
}
.credits {
    font-size: 1.75rem;
    font-weight: bold;
}
.footer {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}

#website-link {
    color: white;
    font-size: 2rem;
    transition: 0.5s;
}
#website-link:hover {
    color: red;
    font-size: 2.15rem;
}

.click-ex {
    cursor: pointer;
}
